.primary-btn{
    background-color: $primary;
    color: $white;
    font-weight: 700;
    padding: .6rem 1rem;
    font-size: 1.4rem;
    border: 0;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: $box-shadow-icon;
    transition: all .3s;
}
.primary-btn:hover{
    background-color: $primary-2;
    transition: all .3s;

}
.link-button{
    background-color: $primary;
    color: $white;
    font-weight: 700;
    padding: .5rem 2rem;
    font-size: 1.4rem;
    border: 0;
    border-radius: .5rem;
    display: inline-block;
    box-shadow: $box-shadow-icon;
    transition: all .3s;
}
.link-button:hover{
    color: $white;
    background-color: $primary-2;
    transition: all .3s;

}
.add-cart,.buy-now{
    background-color: $primary;
    color: $white;
    font-weight: 700;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: 0;
    border-radius: .5rem;
    display: inline-block;
    box-shadow: $box-shadow-icon;
    transition: all .3s;
}
.add-cart{
    margin-right: 2rem;
    background-color: $white;
    color: $primary;
    border:solid .2rem $primary;
}
.add-cart:hover{
    color: $hover-c;
    border-color: $hover-c;
    transition: all .3s;
}
.buy-now:hover{
    background-color: $hover-c;
    border-color: $hover-c;
    transition: all .3s;
}