.margin-none{
  margin:0 !important;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color:$text-color-3;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0rem;
  margin-left: .5rem;
 
}
.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: $text-color-3;
}
.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color:$text-color-3;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0rem;
  margin-left: .5rem;
}
.custom-control-label::before {
  width: 1.5rem;
  height: 1.5rem;
  left: -2rem;
  top: 0.4rem;
 
}
.custom-control-label::after {
  position: absolute;
  top: 4px;
  left: -1.95rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $primary;
  content: "";
  background: 50% / 50% 50% no-repeat;
}
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
  border-color: $primary;
  background-color: $primary;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $primary;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(10, 255, 214);
}