.main-top-bar {
  height: 10.2rem;
  background-color: $white;
  .top-bar {
    background-color: $primary;
    height: 3rem;
    color: $white;
    .top-left-side {
      .social-icon {
        width: 7rem;
        a {
          color: $white;
          i {
            font-size: 1.8rem;
          }
          transition: all 0.3s;
        }
        a:hover {
          color: $hover-c;
          transition: all 0.3s;
        }
      }
    }
    .top-right-side {
      .login-area {
        //width: 35rem;
        a {
          color: $white;
          padding-left: 1rem;
          border-left: solid $white 0.2rem;
          margin-left: 1rem;
          transition: all 0.3s;
          i {
            font-size: 1.6rem;
            margin-top: 0.2rem;
            margin-right: 0.3rem;
          }
          span {
            font-size: 1.3rem;
          }
          .strong {
            font-weight: 700;
          }
        }
        a:hover {
          color: $hover-c;
          text-decoration: none;
          transition: all 0.3s;
        }
        a:first-child {
          border-left: none;
        }
      }
    }
  }
  .search-bar {
    height: 6rem;
    background-color: $white;
    .contant-area {
      height: 100%;
      .logo-area {
        width: 25%;
        a {
          img {
            max-width: 20rem;
            width: 90%;
            height: auto;
          }
        }
      }
      .search-area {
        width: 50%;

        .form-inline {
          width: 90%;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          input {
            width: 100%;
            font-size: 1.6rem;
            font-family: "Ubuntu", sans-serif;
            background-color: $white-2;
            padding-right: 3.8rem;
          }
          input:focus {
            border-color: $hover-c;
            box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
          }
          input::placeholder {
            font-size: 1.6rem;
            font-family: "Ubuntu", sans-serif;
          }
          .form-control {
            height: 4rem;
            border-radius: 2rem;
            border: solid 0.2rem $primary;
          }

          .search-btn {
            height: 3.2rem;
            width: 3.6rem;
            border-radius: 2rem;
            position: absolute;
            background-color: $primary;
            top: 0.4rem;
            right: 0.4rem;
            border: 0;
            box-shadow: $box-shadow-icon;
            transition: all 0.3s;
            i {
              color: $white;
              font-size: 1.8rem;
            }
          }
          .search-btn:hover {
            background-color: $hover-c;
            transition: all 0.3s;
          }
          button {
            width: 10%;
          }
        }
      }
      .cart-area {
        width: 25%;
        .cart-icon {
          position: relative;
          a {
            position: relative;
            display: inline-block;
            i {
              font-size: 3rem;
              color: $primary;
              text-shadow: $box-shadow-icon;
            }
            .item-count {
              position: absolute;
              top: -8px;
              right: -15px;
              width: 2.2rem;
              height: 2rem;
              border-radius: 3rem;
              color: $white;
              font-size: 1.2rem;
              font-weight: 700;
              text-align: center;
              padding-top: 0.18rem;
              background-color: $hover-c;
            }
          }
        }
        .cart-icon:hover .cart-contain-area {
          visibility: visible;
          opacity: 1;
          transition: all 0.3s;
        }
        a {
          text-decoration: none;
        }

        .cart-contain-area {
          position: absolute;
          background-color: $white;
          height: auto;
          width: 40rem;
          padding: 1.5rem 1rem;
          right: -15px;
          top: 40px;
          box-shadow: $box-shadow-card;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s;

          .header-area {
            color: $text-color-2;
            margin-bottom: 1rem;
          }
          ul {
            a {
              display: block;
              text-decoration: none;
              color: $text-color;
            }
            a:first-child {
              li {
                border-top: solid 0.1rem $text-color-2;
              }
            }
            a:hover {
              li {
                background-color: $white-2;
                transition: all 0.3s;
              }
            }
            li {
              border: solid 0.1rem $text-color-2;
              border-top: 0;
              padding: 0.6rem 0;
              border-left: 0;
              border-right: 0;
              transition: all 0.3s;
              .product-details {
                width: 100%;
                height: auto;
                align-items: center;

                img {
                  width: 4rem;
                  height: 4rem;
                }
                .product-name {
                  overflow: hidden;
                  h2 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-left: 1rem;
                  }
                }
                .product-price {
                  h2 {
                    margin-left: 1rem;
                    margin-right: 0.2rem;
                    color: $secondary;
                  }
                }
              }
            }
            li::marker {
              content: none;
            }
          }
          .footer-area {
            padding-top: 1rem;
            .primary-btn {
              margin-right: 0;
            }
          }
        }
        .cart-contain-area::before {
          content: "";
          position: absolute;
          width: 2rem;
          height: 2rem;
          background-color: $white;
          top: -11px;
          right: 20px;
          // box-shadow: $box-shadow-card;
          border: solid rgb(216, 216, 216) 0.1rem;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(45deg);
        }
        .user-profile-area {
            position: relative;
          .user-area {
            align-items: center;
            
            .profile-pic {
              img {
                width: 3rem;
                height: 3rem;
                border-radius: 3rem;
                border: solid $primary 0.2rem;
              }
            }
            .user-name {
              font-size: 1.6rem;
              color: $text-color;
              margin-left: 0.5rem;
            }
          }
        
          .user-account-area {
            position: absolute;
            width: 20rem;
            height: auto;
            padding: 1.5rem 1rem;
            background-color: $white;
            box-shadow: $box-shadow-card;
            top:40px;
            right: 0;
           
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s;

            a {
              display: block;
              text-decoration: none;
              color: $text-color;
              font-size: 1.5rem;
              padding: 0.5rem 0;
              text-align: center;
              border-bottom: solid 0.1rem $text-color-2;
              transition: all .3s;
            }
            a:last-child {
                border-bottom: 0;
              }
              a:hover{
                  background-color: $white-2;
                  transition: all .3s;
              }
          }
          .user-account-area::before {
            content: "";
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: $white;
            top: -11px;
            left: 68px;
            // box-shadow: $box-shadow-card;
            border: solid rgb(216, 216, 216) 0.1rem;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(45deg);
          }
        }
        .user-profile-area:hover .user-account-area{
            visibility: visible;
            opacity: 1;
            transition: all 0.3s; 
          }
      }
    }
  }
  .menu-bar {
    height: 3rem;
    background-color: $white-2;
    color: $white;
  }
}
