.magnifier {
  border: solid 0.3rem $primary !important;
}
.section-product-detalis {
  padding-top: 2rem;
  .container{
    .main-contain{
      background-color: $white;
      padding: 1.5rem 1rem;
      border-radius: 1rem;
    }
  }

  .slick-dots {
    display: none !important;
  }

  .dis-image-area {
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: $white;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
  .small-img {
    // width: 10rem !important;
    // height: 10rem !important;
    padding: 0.5rem;
    height: auto;
    cursor: pointer;
    background-color: $white;

    img {
      width: 100%;
      height: auto;
      border: solid 0.3rem $white;
    }
  }
  .slider-nav {
    .slick-prev {
      left: 0px;
      z-index: 9999;
    }
    .slick-next {
      right: 0px;
      z-index: 9999;
    }
    .slick-current {
      img {
        border: solid 0.3rem $primary;
      }
    }
  }

  .product-briefing-area {
    background-color: $white;
    padding: 1rem;
    .heading {
      h1 {
        font-size: 2.8rem;
        font-weight: 600;
        color: $text-color;
      }
    }

    .rating-area {
      background-color: $white-2;
      border-radius: 0.5rem;
      margin: 1rem 0;
      padding: 0.6rem 1rem;
      .comon-div {
        padding: 0.5rem 1rem;
        border-right: solid 0.1rem $border-color;
      }
      .comon-div:last-child {
        border: 0;
      }
      span,
      h5 {
        font-size: 1.6rem;
        color: $text-color;
        font-weight: 600;
      }
      span {
        margin-right: 0.5rem;
      }

      .ster-image {
        img {
          width: 10rem;
        }
      }
    }

    .special-servise {
      .special-word {
        font-size: 1.2rem;
        font-weight: 700;
        display: inline-block;
        background-color: $primary;
        margin-right: 1rem;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
      }
    }
    .product-price {
      margin: 3rem 0;
      h1 {
        color: $secondary;
        font-size: 3rem;
        font-weight: 700;
      }
    }
    .product-variation {
      h4 {
        font-size: 1.6rem;
        font-weight: 600;
        color: $text-color-3;
        margin-top: 1.5rem;
        flex: 0 0 12rem;
      }
      .variation-count {
        .v-list {
          width: auto;
          display: inline-block;
        }
        a {
          display: inline-block;
          font-size: 1.5rem;
          color: $text-color-3;
          font-weight: 600;
          border: solid 0.1rem $border-color;
          padding: 0.5rem 1rem;
          margin-right: 1rem;
          margin-top: 1rem;
          transition: all 0.2s;
        }
        .select {
          color: $hover-c;
          border-color: $hover-c;
        }
        a:hover {
          color: $hover-c;
          border-color: $hover-c;
          transition: all 0.2s;
        }
      }
    }
    .quantity-area {
      margin-top: 1rem;
      h4 {
        font-size: 1.6rem;
        font-weight: 600;
        color: $text-color-3;
        margin-top: 1.5rem;
        flex: 0 0 12rem;
      }
      .form-group {
        margin-top: 1rem;
        input {
          height: 3.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          color: $text-color;
          width: 8rem;
        }
      }
      .item-available {
        h6 {
          font-size: 1.5rem;
          font-weight: 600;
          color: $text-color-3;
        }
        span {
          font-size: 1.5rem;
          font-weight: 600;
          color: $text-color-3;
          margin-left: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
    .button-area {
      width: 37rem;
      margin: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

.comon-section{
  background-color: $white;
  padding-bottom: .5rem;
  border-radius: 1rem;
  .text-area{
    margin: 2rem 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: $body-color;
    font-size: 1.5rem;
    font-weight: 500;
    color: $text-color-3;
  }
}
.product-rating{
  //padding: 2rem;
  .rating-navigration{
    background-color: $body-color;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    .rating-display{
      flex: 0 0 14rem;
      .rating-star{
        .rating-star-count{
          font-size: 3rem;
          font-weight: 600;
          color: $hover-c;
          margin-right: .6rem;
        }
        h5{
          font-size: 2rem;
          color: $text-color-3;
        }
      }
      img{
        width: 10rem;
      }
    }
    .navigration-option {
      justify-content: space-between;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      flex-wrap: wrap;
      .v-list {
        width: auto;
        display: inline-block;
      }
      a {
        display: inline-block;
        font-size: 1.5rem;
        background-color: $white;
        color: $text-color-3;
        font-weight: 600;
        border: solid 0.1rem $border-color;
        padding: 0.5rem 1rem;
        margin-right: .8rem;
        margin-top: 1rem;
        transition: all 0.2s;
      }
      .select {
        color: $hover-c;
        border-color: $hover-c;
      }
      a:hover {
        color: $hover-c;
        border-color: $hover-c;
        transition: all 0.2s;
      }
    }
  }
}
.customar-comment-area{
  padding:0 2rem;
  .single-customer{
    border-bottom: solid .1rem $border-color;
    margin-top: 3rem;
  }
  .single-customer:last-child{
    border: 0;
  }
  .customer-pic{
    flex: 0 0 6rem;
    img{
      width: 100%;
      border-radius: 5rem;
      border: solid .2rem $border-color;
    }
  }
  .customaer-info{
    padding: 1rem 1rem;
    //box-sizing: border-box;
    h5{
      font-size: 1.2rem;
      color: $text-color-2;

    }
    .given-star{
      img{
        width: 7rem;
        margin: .5rem 0;
      }
    }
    .variation{
      font-size: 1.2rem;
      color: $text-color-2;
    }
    .user-comment{
      width: 80%;
      font-weight: 600;
      font-size: 1.5rem;
      color: $text-color;
      margin: .8rem 0;

    }
    .user-upload-product-pic{
      img{
        width: 6rem;
        height: auto;
        cursor: pointer;
      }
    }
    .date-time{
      font-size: 1.2rem;
      color: $text-color-2;
      margin-top: 2rem;
    }
  }
}

}
