.signup-login-header {
  text-align: center;
  padding: 1rem 0;
  border-bottom: solid 0.5rem $primary;
  position: relative;
  top: 0;
  img {
    width: 25rem;
    height: auto;
  }
}

.signup-login-section {
  padding: 4rem 0;
  background-image: url("/assets/images/bg-shap.png");
  background-repeat: no-repeat;
  background-color: $white;
  background-size: cover;
  .container {
    .main-area {
      background-color: $white;
      padding: 2rem;
      border: solid 0.1rem $border-color;
      border-radius: 1rem;
      box-shadow: $box-shadow-card;
      h4 {
        font-size: 2.4rem;
        color: $text-color;
        font-weight: 600;
        margin-bottom: 1.5rem;
        position: relative;
        display: inline-block;
      }
      h4:after {
        content: "";
        border-bottom: solid 0.1rem $primary;
        position: absolute;
        background-color: $primary;
        height: 0.15rem;
        bottom: -8px;
        left: 0;
        width: 50%;
        z-index: 1;
      }
      h4:before {
        content: "";
        border-bottom: solid 0.1rem $primary;
        position: absolute;
        background-color: $primary;
        height: 0.15rem;
        bottom: -4px;
        left: 0;
        width: 75%;
        z-index: 1;
      }
      form {
        padding: 0 0.5rem;
      }
      .form-group {
        padding: 0.5rem 0;
        label {
          font-size: 1.6rem;
          font-weight: 600;
          color: $text-color-3;
        }
        input {
          font-size: 1.6rem;
          font-weight: 600;
          color: $text-color;
        }
        input::placeholder {
          font-size: 1.6rem;
          font-weight: 600;
          color: $text-color-2;
        }
      }
      .primary-btn {
        margin-top: 2rem !important;
      }
      .create-account {
        padding: 1rem 0.5rem;
        text-align: center;
        flex-direction: column;
        span {
          font-size: 1.4rem;
          font-weight: 600;
          color: $text-color-2;
        }
        .or {
          margin-top: 1.5rem;
          position: relative;
          z-index: 5;
        }
        .or:after {
          content: "";
          position: absolute;
          background-color: $border-color;
          height: 0.05rem;
          bottom: 8px;
          left: 0;
          width: 45%;
        }
        .or:before {
          content: "";
          position: absolute;
          background-color: $border-color;
          height: 0.05rem;
          bottom: 8px;
          right: 0;
          width: 45%;
        }
        .create-btn {
          width: 100%;
          background-color: $white;
          color: $primary;
          border: solid 0.1rem $primary !important;
        }
        .create-btn:hover {
          background-color: $white-2;
        }
      }
      .form-row {
        .form-group {
          padding: 0 1rem;
          label {
            font-size: 1.5rem;
            margin-top: 1rem;
          }
          input {
            font-size: 1.5rem;
          }
          input::placeholder {
            font-size: 1.5rem;
          }
          textarea {
            font-size: 1.5rem;
            color: $text-color;
            font-weight: 600;
          }
          textarea::placeholder {
            font-size: 1.5rem;
            color: $text-color-2;
            font-weight: 600;
          }
          .custom-control {
            margin-left: 1rem;
            margin-top: 0rem;
            label {
              cursor: pointer;
              font-size: 1.3rem;
              span {
                color: $primary;
              }
            }
          }
          .custom-control-input:checked ~ .custom-control-label::before {
            color: rgb(255, 255, 255);
            border-color: $primary;
            background-color: $primary;
          }
          .custom-control-input:focus:not(:checked)
            ~ .custom-control-label::before {
            border-color: #3bf39d;
          }
        }
      }
      .address-area-2 {
        margin-top: 1rem;
        border-top: solid 0.1rem $border-color !important;
      }
    }
    .sign-area {
      .primary-btn {
        width: 50%;
        display: block;
        margin-top: 0rem !important;
        font-size: 1.6rem;
      }
      .create-account {
        .or {
          margin-top: 0rem !important;
        }
        .create-btn {
          width: 50%;
          margin-top: 1rem !important;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.signup-login-section {

  .left-banner-area {
    text-align: right;
    padding: 4rem 0;

    h1 {
      text-align: center;
      font-size: 4rem;
      font-weight: 600;
      span {
        text-transform: uppercase;
        font-size: 5rem;
        color: $primary;
      }
    }
    img {
      margin-top: 2rem;
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: 6rem;
      
    }
  }
}
