.account-detalis {
  padding-top: 3rem;
  .left-side-area {
    background-color: $white;
    padding: 2rem 2rem;
    box-shadow: $box-shadow-card-2;
    position: sticky;
    top: 11.7rem;
    margin-bottom: 2rem;

    .profile-pic-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $white;
      padding-bottom: 1.5rem;
      border-bottom: solid 0.1rem $border-color;
      img {
        width: 15rem;
        height: 15rem;
        margin: auto;
        border-radius: 1rem;
        border: solid 0.3rem $primary;
      }
      .user-name {
        font-size: 1.8rem;
        font-weight: 600;
        color: $text-color;
        margin: 0.5rem 0;
      }
      .change-pic {
        color: $text-color-2;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0 0.5rem;
        border: solid 0.1rem $border-color;
      }
    }
    .side-menu-area {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      .v-list {
        align-items: center;
        color: $text-color-2;
        height: 3rem;
        transition: all 0.2s;
        i {
          width: 3rem;
          font-size: 1.5rem;
          text-align: center;
          color: $primary;
          transition: all 0.2s;
        }
        h4 {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 1.3rem;
          margin-left: 0.5rem;
        }
      }
      a.active,
      a:hover {
        .v-list {
          color: $hover-c;
          transition: all 0.2s;
          i {
            color: $hover-c;
            transition: all 0.2s;
          }
        }
      }
    }
  }
  .purchase-page {
    .profile-pic-area {
      img {
        width: 10rem;
        height: 10rem;
        border-radius: 10rem;
      }
      .change-pic {
        display: none;
      }
    }
  }

  .right-side-area {
    .profile-area {
      background-color: $white;
      padding: 1.5rem;
      box-shadow: $box-shadow-card-2;
      .all-heading {
        padding-bottom: 1rem;
      }
    }

    form {
      padding-top: 1rem;
      padding-right: 5rem;
      .primary-btn {
        margin-left: 20rem;
        width: 15rem;
        margin-top: 3rem;
      }
    }
    .form-group {
      margin-top: 1.5rem;
      display: flex;
      color: $text-color-3;
      font-size: 1.5rem;
      font-weight: 600;
      align-items: center;
      label {
        flex: 0 0 20rem;
        padding-right: 3rem;
        display: block;
        text-align: right;
        margin-bottom: 0;
      }
      .user-name {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
      }
      input {
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .birth-date {
        color: $text-color-2;
      }
      input::placeholder {
        color: $text-color-2;
      }
    }

    .address-area {
      background-color: $white;
      padding: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      text-align: right;
      box-shadow: $box-shadow-card-2;
      .address {
        align-items: center;
        padding: 2rem 1rem;
        border-bottom: solid 0.1rem $border-color;
        .form-group {
          margin-top: 0.5rem;
          margin-bottom: 0;
          align-items: flex-start;
          label {
            font-size: 1.4rem;
            flex: 0 0 15rem;
          }
          span {
            color: $text-color;
            font-size: 1.4rem;
          }
        }
        .display-address {
          width: 70%;
          padding-right: 2%;
          span {
            text-align: left;
          }
        }
        .oparation-area {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 20%;
          a {
            width: 100%;
            display: inline-block;
            text-align: center;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            border: 0.1rem solid $border-color;
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 0.5rem;
          }

          div {
            padding: 0 0.4rem;
          }
          .edit {
            width: 40%;
            a {
              border: 0.1rem solid $primary;
              color: $primary;
            }
          }
          .delete {
            width: 40%;
            a {
              border: 0.1rem solid $hover-c;
              color: $hover-c;
            }
          }
          .set-up {
            width: 80%;
            a {
              border: 0.1rem solid $text-color-2;
              color: $text-color-2;
              margin-top: 0.5rem;
            }
          }
        }
        .defult-tag {
          width: 10%;
          span {
            background-color: #1adb7e;
            color: $white;
            padding: 0.2rem 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            border-radius: 0.5rem;
          }
          .actived {
            display: inline-block;
            visibility: visible;
          }
          .not-actived {
            display: none;
            visibility: hidden;
          }
        }
      }

      .primary-btn {
        display: inline-block;
        margin-right: 1rem;
        margin-top: 2rem;
      }
    }
  }

  ////--all heading left area start---///
  .all-heading-left {
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    border: 0;
    text-align: left;
    border-bottom: solid 0.4rem $primary;

    h3 {
      font-weight: 600;
      color: $text-color-3;
      font-size: 2rem;
      margin: 0;
      position: relative;
      display: inline-block;
    }
    h3:after {
      content: "";
      border-bottom: solid 0.1rem $primary;
      position: absolute;
      background-color: $primary;
      height: 0.2rem;
      bottom: -7px;
      left: 0;
      width: 50%;
      z-index: 1;
    }
    h3:before {
      content: "";
      border-bottom: solid 0.1rem $primary;
      position: absolute;
      background-color: $primary;
      height: 0.2rem;
      bottom: -3px;
      left: 0;
      width: 75%;
      z-index: 1;
    }
  }
  .all-heading-left.with-p {
    padding-bottom: 0.5rem;
    p {
      font-weight: 600;
      font-size: 1.2rem;
      color: $text-color-2;
      margin-top: 1rem;
    }
  }
  ////--all heading left area end---///

  ////--single-heading-back start---///
  .single-heading-back {
    padding: 1rem 1.5rem;
    background-color: $white;
    box-shadow: $box-shadow-card-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.4rem $primary;
    .all-heading {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
      border: 0;
      a {
        font-size: 1.8rem;
        color: $text-color-2;
        transition: all 0.2s;
        font-weight: 600;
        i {
          color: $primary;
          font-size: 1.8rem;
          margin-right: 0.5rem;
          transition: all 0.2s;
        }
      }
      a:hover {
        color: $hover-c;
        transition: all 0.2s;
        i {
          color: $hover-c;
          transition: all 0.2s;
        }
      }
    }
    h3 {
      font-weight: 600;
      color: $text-color-3;
      font-size: 2rem;
      margin: 0;
      position: relative;
    }
    h3:after {
      content: "";
      border-bottom: solid 0.1rem $secondary-2;
      position: absolute;
      background-color: $secondary-2;
      height: 0.15rem;
      bottom: -8px;
      right: 0;
      width: 50%;
      z-index: 1;
    }
    h3:before {
      content: "";
      border-bottom: solid 0.1rem $secondary-2;
      position: absolute;
      background-color: $secondary-2;
      height: 0.15rem;
      bottom: -4px;
      right: 0;
      width: 75%;
      z-index: 1;
    }
  }
  ////--single-heading-back end---///

  // product purchase area start//
  .purchase-area {
    .search-ber {
      width: 100%;
      box-shadow: $box-shadow-card-2;
      .form-inline {
        flex-flow: row;
        //flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;
        padding-right: 0rem;
        margin: 1rem 0;
        display: flex;
      }
      input {
        width: 80%;
        font-size: 1.5rem;
        color: $text-color;
        border-radius: 0;
        height: 3.4rem;
        font-weight: 600;
      }
      input::placeholder {
        color: $text-color-2;
      }
      .primary-btn {
        width: 20%;
        display: inline-block;
        margin-left: 0;
        border-radius: 0;
        border: solid 0.1rem $primary;
        margin-top: 0;
      }
    }
    .single-product {
      background-color: $white;
      padding: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      box-shadow: $box-shadow-card-2;

      .header-ber {
        border-bottom: solid 0.1rem $border-color;
        padding-bottom: 0.5rem;
        span {
          font-size: 1.6rem;
          font-weight: 700;
        }
        .delivered {
          color: $primary;
          border-right: solid 0.1rem $border-color;
          padding-right: 1rem;
          text-transform: uppercase;
        }
        .p-status {
          color: $hover-c;
          margin-left: 1rem;
          text-transform: uppercase;
        }
        .order-id {
          font-size: 1.5rem;
          font-weight: 600;
          color: $text-color-2;
          float: right;
        }
      }
      .product-price-detali {
        flex: auto;
        padding-left: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: $text-color-2;
        text-align: left;
        flex-direction: column;
        flex: 1 0 0;
        padding-right: 2rem;
        border-right: solid .1rem $border-color;
        
        span {
          color: $hover-c;
          margin-left: 0.1rem;
          font-weight: 600;
        }
        h4 {
          font-size: 1.5rem;
          padding-bottom: 1rem;
          font-weight: 600;
          color: $text-color-3;
        }
        .sub-total {
          padding: 0 0.5rem;
        }
        .shipping-fee {
          padding: 0.5rem;
          border-bottom: 0.1rem solid $border-color;
        }
        h5 {
          font-size: 1.3rem;
          font-weight: 600;
        }
        .total {
          padding-top: 0.5rem;
          h5 {
            font-size: 1.4rem;
            font-weight: 600;
            color: $text-color-3;
          }
        }
      }
      .payment-mathod{
        flex: 0 0 25%;
        padding: 2rem;
        text-align: center;
        
        .payment-type-area{
          position: relative;
        }
        span{
          position: absolute;
          color: $white;
          background-color: $primary;
          padding: .2rem .5rem;
          font-weight: 700;
          border-radius: .5rem;
          font-size: 1.1rem;
          width: 80%;
          left: 50%;
          transform: translateX(-50%);
          top: -10px;
        }
        h5{
          font-weight: 600;
          font-size: 1.3rem;
          color: $text-color-3;
         border-radius: .5rem;
          display: inline-block;
          padding: 1rem 2rem;
          padding-top: 1.2rem;
          border: solid .2rem $primary;
        }
      }
      .shiping-address {
        flex-direction: column;
        flex: 1 0 0;
        text-align: left;
        h3 {
          font-size: 1.5rem;
          color: $text-color-3;
          font-weight: 600;
          position: relative;
          padding-bottom: 0.5rem;
          margin-bottom: .5rem;
        }
        h3::after {
          content: "";
          background-color: $primary;
          height: 0.1rem;
          width: 20%;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        h4 {
          font-size: 1.4rem;
          color: $text-color-3;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        span {
          font-size: 1.2rem;
          color: $text-color-2;
          font-weight: 600;
        }
      }
      .product-list-area{
        padding: 2rem 0;
      }
      .product-area {
        margin: 1rem 0;
        padding: 1rem 0;
        border-bottom: solid 0.1rem $border-color;
        align-items: center;

        .p-image {
          flex: 0 0 10rem;
          img {
            width: 100%;
            height: auto;
          }
        }
        .p-detalis {
          width: 70%;

          h4 {
            color: $text-color;
            font-weight: 600;
            font-size: 1.6rem;
            padding-top: 0.5rem;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            color: $text-color-2;
            font-size: 1.2rem;
            font-weight: 600;
            padding-right: 0.5rem;
            text-align: left;
            //flex: 0 0 0;
            //display: block;
            
          }
          .variation,
          .quantity, .payment-type {
            text-align: left !important;
            flex: 1 0 0;
          }
        }
        .product-price {
          font-size: 1.4rem;
          font-weight: 600;
          color: $text-color-2;
          text-align: center;
          padding-left: 5%;
          span {
            color: $hover-c;
            margin-left: 0.5rem;
          }
        }
      }
      .product-area:first-child{
        border-top: solid 0.1rem $border-color;
      }
      .footer-area {
        background-color: $white-2;
        padding: 1rem 1rem;
        border-radius: 1rem;

        .total-price {
          justify-content: end;
          align-items: center;
          margin-bottom: 1.5rem;
          margin-top: 1rem;
          h4 {
            font-size: 1.8rem;
            font-weight: 600;
            color: $text-color-2;
          }
          .product-total-price {
            font-size: 1.8rem;
            font-weight: 600;
            padding: 0 0.5rem;
            color: $hover-c;
          }
        }
        .oparation-area {
          align-items: flex-end;
          justify-content: space-between;
          padding-bottom: 0rem;

          .given-rating {
            span {
              font-size: 1.2rem;
              font-weight: 600;
              color: $text-color-2;
            }
          }
          .button-area {
            .link-button {
              padding: 1rem 2rem;
              margin-left: 1rem;
            }
            .detalis {
              color: $primary;
              background-color: $white;
              border-color: $primary !important;
              border: solid 0.1rem;
            }
          }
        }
      }
    }
    .single-product:last-child {
      margin-bottom: 2rem;
    }
  }
  // product purchase area end//

  //single product purchase area start//
  .single-p-detalis {
    .single-heading {
      .all-heading {
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        a {
          font-size: 1.8rem;
          color: $text-color-2;
          transition: all 0.2s;
          font-weight: 600;
          i {
            color: $primary;
            font-size: 1.8rem;
            margin-right: 0.5rem;
            transition: all 0.2s;
          }
        }
        a:hover {
          color: $hover-c;
          transition: all 0.2s;
          i {
            color: $hover-c;
            transition: all 0.2s;
          }
        }
      }
    }
    .single-product {
      text-align: center;
      .product-area {
        .p-detalis {
          width: 55%;
          padding-right: 1rem;
          text-align: left;
          h4 {
            font-size: 1.4rem;
            font-weight: 600;
            color: $text-color-3;
          }
        }
        .product-price-detali {
          flex: auto;
          padding-left: 1rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: $text-color-2;
          text-align: left;
          flex-direction: column;
          border-left: solid 0.1rem $border-color;
          span {
            color: $hover-c;
            margin-left: 0.1rem;
            font-weight: 600;
          }
          h4 {
            font-size: 1.5rem;
            padding-bottom: 1rem;
            font-weight: 600;
            color: $text-color-3;
          }
          .sub-total {
            padding: 0 0.5rem;
          }
          .shipping-fee {
            padding: 0.5rem;
            border-bottom: 0.1rem solid $border-color;
          }
          h5 {
            font-size: 1.3rem;
            font-weight: 600;
          }
          .total {
            padding-top: 0.5rem;
            h5 {
              font-size: 1.4rem;
              font-weight: 600;
              color: $text-color-3;
            }
          }
        }
      }
      .order-summary-area{
        margin-top: 3rem;
      }
      .delivary-summary {
        background-color: $white-2;
        padding: 2rem;
        border-radius: 1rem;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        .p-tracking-area {
          .comon-div {
            position: relative;
            height: 12rem;
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
            align-items: center;
            justify-content: end;
            .icon-area {
              border: solid 0.4rem $border-color;
              background-color: $white;
              border-radius: 5rem;
              padding: 2rem;
              width: 8rem;
              height: 8rem;
              text-align: center;
              text-align: center;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: auto;
              z-index: 5;
              position: absolute;
              top: 0;
              i {
                font-size: 3rem;
                color: $border-color;
              }
            }
            h5 {
              font-size: 1.3rem;
              font-weight: 600;
              color: $text-color-2;
              margin-top: 1rem;
            }
            span {
              font-size: 1rem;
              font-weight: 600;
              color: $text-color-2;
            }
          }
          .comon-div::before {
            content: "";
            position: absolute;
            background-color: $border-color;
            height: 0.4rem;
            width: 100%;
            top: 4rem;
          }
          .order-place::before {
            width: 50%;
            top: 4rem;
            left: 50%;
          }
          .shiping-procesing::before {
            width: 100%;
            top: 4rem;
            left: 50%;
            transform: translateX(-50%);
          }
          .order-completed::before {
            width: 50%;
            top: 4rem;
            right: 50%;
          }
          .actived.comon-div::before {
            background-color: $primary;
          }
          .actived.comon-div {
            .icon-area {
              border-color: $primary;
              i {
                color: $primary;
              }
            }
          }
        }
      }
      .link-button {
        margin-top: 1rem;
      }
      .tracking-gatway-area {
        margin-top: 2rem;
        border-top: solid 0.1rem $border-color;
        padding-top: 2rem;
        .shiping-address {
          flex-direction: column;
          flex: 0 0 40%;
          text-align: left;
          h3 {
            font-size: 1.8rem;
            color: $text-color-3;
            font-weight: 600;
            position: relative;
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
          }
          h3::after {
            content: "";
            background-color: $primary;
            height: 0.2rem;
            width: 40%;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          h4 {
            font-size: 1.6rem;
            color: $text-color-3;
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          span {
            font-size: 1.2rem;
            color: $text-color-2;
            font-weight: 600;
          }
        }
        .tracking-informetion {
          flex: 0 0 60%;
          text-align: center;
          flex-direction: column;
          padding: 3rem;
          height: 30rem;
          justify-content: center;
          border-left: solid 0.1rem $border-color;
          p {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  //single product purchase area end//

  //main shoping cart area start//
  .shoping-cart-area {
    .info-bar {
      background-color: $white;
      padding: 1.5rem 1.5rem;
      margin-top: 1.5rem;
      h4 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .i-left-side {
        flex: 1 0 0;
      }
      .i-right-side {
        flex-direction: row;
        flex: 1 0 0;
        justify-content: space-between;
      }
    }
    .single-product {
      .product-area {
        border: 0;
        margin: 0;
        padding: 0;
        .product-detalis {
          flex: 1 0 0;
          justify-content: center;
          align-items: center;
          .select-option {
            flex: 0 0 3rem;
            align-items: center;
            justify-content: center;
            .option-area {
              .form-group {
                margin-bottom: 0px;
                margin-top: 0 !important;
              }

              .form-group input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
                width: 100%;
              }

              .form-group label {
                position: relative;
                cursor: pointer;
                flex: 0 0 0rem !important;
                padding-right: 0rem !important;
                display: block;
                text-align: right;
                margin-bottom: 0;
              }

              .form-group label:before {
                content: "";
                -webkit-appearance: none;
                background-color: transparent;
                border: 2px solid $primary;

                padding: 10px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                cursor: pointer;
                margin-right: 0px;
              }

              .form-group input:checked + label:after {
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: 9px;
                width: 8px;
                height: 18px;
                border: solid $hover-c;
                border-width: 0 4px 4px 0;

                transform: rotate(45deg);
              }
              .form-group input:checked + label:before {
                border-color: $hover-c;
              }
            }
          }
          .p-image {
            flex: 0 0 10rem;
          }
          .p-detalis {
            flex: auto;
            padding-right: 2rem;
            h4 {
              font-size: 1.4rem;
              font-weight: 600;
            }
          }
        }
        .p-detalis-right-side {
          flex: 1 0 0;
          align-items: center;
          h4 {
            font-size: 1.3rem;
            font-weight: 700;
            color: $text-color-3;
          }
          .product-price {
            padding-left: 0;
            h4 {
              font-size: 1.3rem;
              font-weight: 700;
              color: $text-color-3;
              span {
                color: $text-color-3;
              }
            }
          }
          .p-quantity {
            .input-group {
              input {
                font-size: 1.4rem;
                font-weight: 700;
                color: $text-color-3;
                padding: 0 1rem;
              }
            }
          }
          .total-parice {
            span {
              color: $hover-c;
              margin-left: 0.5rem;
            }
          }
          .action {
            a {
              border: solid 0.1rem $text-color-2;
              font-size: 1.2rem;
              padding: 0.3rem 0.8rem;
              color: $text-color-2;
              font-weight: 700;
              border-radius: 0.5rem;
              transition: all 0.2s;
            }
            a:hover {
              background-color: $text-color-2;
              color: $white;
              transition: all 0.2s;
            }
          }
        }
      }
    }
  }
  //main shoping cart area end//

  //check out oparation area start//
  .check-out-area {
    background-color: $white;
    padding: 0rem;
    border-bottom: solid 0.5rem $primary;
    text-align: center;
    padding-bottom: 2rem;
    box-shadow: $box-shadow-card-2;
    position: sticky;
    top: 11.7rem;
    margin-bottom: 2rem;

    .content-area {
      padding: 1.5rem;
      background-color: $white-2;
      margin: 1.5rem;

      border-radius: 0.5rem;
      padding-bottom: 4rem;
      margin-top: 4rem;
      .sub-total-area {
        margin-top: 3rem;
      }
      .sub-total-area,
      .shipping-fee-area {
        padding: 0.5rem 0;
      }
    }
    h1 {
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 3.5rem;
      display: block;
      border-bottom: solid 0.1rem $border-color;
      background-color: $primary;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color-3;
      span {
        margin: 0 0.2rem !important;
      }
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color-3;
      span {
        color: $hover-c;
        margin-left: 0.5rem;
      }
    }
    .total-area {
      border-top: solid 0.2rem $border-color;
      margin-top: 2rem;
      padding: 1rem 0;
      h2 {
        font-size: 1.6rem;
        color: $text-color;
      }
      h3 {
        font-size: 1.6rem;
        color: $text-color;
      }
    }
    .checkout-button {
      position: relative;

      display: block;
      line-height: 2.6rem;
      background-color: $secondary-3;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      text-align: center;
      color: $body-color;
      margin-top: 4rem;
      margin-bottom: 1rem;
      box-shadow: $box-shadow-card-2;
      border: solid 0.1rem $border-color;
      transition: all 0.3s;
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5rem;
        font-size: 2rem;

        opacity: 0;
        transition: all 0.3s;
      }
    }
    .checkout-button:hover {
      background-color: $hover-c;
      color: $white;
      i {
        right: 3rem;
        opacity: 1;
        transition: all 0.3s;
      }
      transition: all 0.3s;
    }
  }
  //check out oparation area end//

  //checkout area start//
  .p-checkout {
    .single-product {
      .product-area {
        .product-detalis {
          flex: 0 0 40%;
        }
      }
      .middle-form{
        flex:  1 0 0;
        padding: 0;
        .p-quantity{
          position: relative;
          padding: 0 !important;
          input{
            border: 0;
            text-align: center;
          }
          input:focus{
            border: 0;
            box-shadow: none;
            background-color: transparent;
          }
          .update-but{
            position: absolute;
            border: 0;
            
            background-color: $secondary-3;
            font-size: 1.2rem;
            border: solid .1rem $secondary-3;
            padding: 0.3rem 0.8rem;
            width: 80%;
            color: $white;
            font-weight: 700;
            border-radius: 0.5rem;
            bottom: -100%;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s;
          }
          .update-but:hover {
            background-color: $white;
            color: $secondary-3;
            border: solid .1rem $secondary-3;
            transition: all 0.2s;
          }
        }
        
      }
      .del-action-form{
        flex:  0 0 10%;
        padding: 0;
        text-align: center;
        button{
          border: solid 0.1rem $text-color-2;
          font-size: 1.2rem;
          padding: 0.3rem 0.8rem;
          color: $text-color-2;
          font-weight: 700;
          border-radius: 0.5rem;
          transition: all 0.2s;
        }
        button:hover {
          background-color: $text-color-2;
          color: $white;
          transition: all 0.2s;
        }
      }
      .p-detalis-right-side {
        .product-price,
        .p-quantity,
        .total-parice {
          position: relative;
          border: solid 0.2rem $primary;
          flex: 0 0 31%;
          padding: 0.7rem 0;
          padding-bottom: 0.5rem;
          font-size: 1.4rem;
          font-weight: 600;
          border-radius: 0.5rem;
          text-align: center;
          h4 {
            font-size: 1.5rem !important;
          }
          .p-info {
            position: absolute;

            font-size: 1.1rem;
            font-weight: 700;
            color: $white !important;
            display: block;
            top: -15px;
            line-height: 15px;
            left: 50%;
            width: 72%;
            transform: translateX(-50%);
            padding: 0.2rem 0rem;
            border-radius: 0.3rem;
            margin-left: 0 !important;
            background-color: $primary;
          }
        }
      }
     
    }
  }

  //checkout area end//
}
.shoping-checkout-area {
  .check-out-area {
    background-color: $white;
    padding: 0rem;
    border-bottom: solid 0.5rem $primary;
    text-align: center;
    padding-bottom: 1rem;
    box-shadow: $box-shadow-card-2;
    position: sticky;
    top: 11.7rem;
    margin-bottom: 2rem;
    .shiping-address-delivary {
      margin: 1rem 1.5rem;
      padding: 1rem 1.5rem;
      background-color: $body-color;
      text-align: left;
      border-radius: 0.5rem;
      box-shadow: $box-shadow-card-2;

      h3 {
        font-size: 1.7rem;
        color: $text-color;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
      }
      .address-contain {
        border: solid 0.1rem $primary;
        border-radius: 1rem;
        background-color: $white-2;
        padding: 1rem;
        position: relative;
        box-shadow: $box-shadow-card;
        h4 {
          font-size: 1.6rem;
          font-weight: 600;
        }
        span {
          display: block;
          font-size: 1.3rem;
          font-weight: 600;
          color: $text-color;
        }
        .change-address {
          position: absolute;
          top: 6px;
          right: 6px;
          background-color: $secondary-3;
          color: $white;
          padding: 0.1rem 0.6rem;
          border-radius: 0.5rem;
          font-size: 1.2rem;
          font-weight: 600;
          border: solid 0.1rem $border-color;
          box-shadow: $box-shadow-card-2;
        }
      }
    }

    .payment-method-check {
      text-align: left;
      padding: 1rem 1.5rem;
      padding-bottom: 0.5rem;
      background-color: $body-color;
      margin: 1rem 1.5rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow-card-2;
      h4 {
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
      }
      .custom-control {
        padding: 0 !important;
        margin-bottom: 1rem;
        label {
          border: solid 0.15rem $border-color;
          width: 100%;
          text-align: center;
          cursor: pointer;
          border-radius: 1rem;
          background-color: $white;
          margin: 0;

          .payment-option {
            padding: 3rem 0;
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .option {
              font-size: 1.6rem;
              font-weight: 600;
              color: $text-color;
              img {
                width: 70%;
                height: auto;
              }
            }
            .note {
              position: absolute;
              font-size: 1.2rem;
              bottom: 0rem;
              left: 0rem;
              border-top: solid 0.1rem $border-color;
              width: 100%;
              border-bottom-left-radius: 0.8rem;
              border-bottom-right-radius: 0.8rem;
            }
          }
        }

        .custom-control-label::before {
          width: 1.7rem;
          height: 1.7rem;
          left: 1rem;
          top: 1rem;
          border-color: $border-color;
          border: solid 0.1rem;
        }
        .custom-control-label::after {
          left: 1rem;
          width: 1.7rem;
          height: 1.7rem;
          top: 1rem;
          background-color: $primary-3;
          background: 50% / 50% 50% no-repeat;
        }

        .custom-control-input:checked ~ .custom-control-label::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          border: solid 0.1rem $primary-3;
          border-radius: 50%;
        }
        .custom-control-input:checked ~ .custom-control-label {
          border-color: $primary;
          background-color: $white-2;
          box-shadow: $box-shadow-card;
          .option {
            background-color: $white-2;
          }
          .note {
            background-color: $white;
            border-color: $primary;
          }
        }
        .custom-control-input {
          left: 1rem;
        }
      }
      .paypal-online {
        .custom-control-label {
          .payment-option {
            padding-top: 1rem !important;
            padding-bottom: 2.5rem !important;
          }
        }
      }
    }

    .content-area-palce-order {
      padding: 1.5rem;
      background-color: $white-2;
      margin: 1rem 1.5rem;

      border-radius: 0.5rem;

      .sub-total-area {
        margin-top: 0rem;
      }
      .sub-total-area,
      .shipping-fee-area {
        padding: 0.5rem 0;
      }
    }
    h1 {
      font-size: 1.7rem;
      font-weight: 600;
      line-height: 3.5rem;
      display: block;
      border-bottom: solid 0.1rem $border-color;
      background-color: $primary;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color-3;
      span {
        margin: 0 0.2rem !important;
      }
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color-3;
      span {
        color: $hover-c;
        margin-left: 0.5rem;
      }
    }
    .total-area {
      border-top: solid 0.2rem $border-color;
      margin-top: 2rem;
      padding: 1rem 0;
      h2 {
        font-size: 1.6rem;
        color: $text-color;
      }
      h3 {
        font-size: 1.6rem;
        color: $text-color;
      }
    }
    .checkout-button {
      position: relative;

      display: block;
      line-height: 2.6rem;
      background-color: $secondary-3;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.5rem 0;
      border-radius: 0.3rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      text-align: center;
      color: $body-color;
      margin-top: 1rem;
      margin-bottom: 0;
      box-shadow: $box-shadow-card-2;
      border: solid 0.1rem $border-color;
      transition: all 0.3s;
      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5rem;
        font-size: 2rem;

        opacity: 0;
        transition: all 0.3s;
      }
    }
    .checkout-button:hover {
      background-color: $hover-c;
      color: $white;
      i {
        right: 3rem;
        opacity: 1;
        transition: all 0.3s;
      }
      transition: all 0.3s;
    }
  }
}

///    add address modal start ///
.add-address {
  z-index: 9999999;
  .modal-dialog {
    width: 60rem !important;
    .modal-content {
      margin-top: 2rem;
    }
  }
  form {
    padding-right: 3rem;
  }
  h5 {
    font-size: 1.8rem;
    font-weight: 600;
    i {
      margin-right: 0.5rem;
      color: $primary;
    }
  }
  .modal-footer {
    border-bottom: solid 0.4rem $primary !important;
    justify-content: right !important;
    .primary-btn {
      margin: 0 !important;
      margin-right: 0.5rem !important;
    }
    .close-btn {
      background-color: $text-color-3;
    }
    .close-btn:hover {
      background-color: $text-color;
    }
  }
  .form-group {
    margin-bottom: 1.5rem !important;
    display: flex;
    label {
      flex: 0 0 35% !important;
      color: $text-color-2;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: right;
      padding-right: 3rem;
    }
    textarea,
    input {
      flex: 0 0 70% !important;
      font-size: 1.5rem;
      font-weight: 600;
    }
    input::placeholder {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-color-2;
    }

    textarea {
      color: $text-color;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

///    add address modal end ///
///    give-review-modal start ///
.give-review-modal {
  h5 {
    font-size: 1.8rem;
    font-weight: 600;
    i {
      color: $primary;
      margin-right: 0.5rem;
    }
  }
  .modal-content {
    .modal-body {
      .was-validated {
        text-align: center;
        padding-top: 2rem;
        .custom-control {
          margin-top: 1rem;
          label {
            cursor: pointer;
            img {
              width: 12rem;
            }
          }
        }
        .form-group {
          text-align: left;
          padding: 2rem 4rem;
          padding-bottom: 0;
          label {
            font-size: 1.6rem;
            font-weight: 600;
            color: $text-color-2;
          }
          textarea{
            font-size: 1.6rem;
            font-weight: 600;
            color: $text-color;
            border-color: $primary;
          }
        }
        .input-group{
          .custom-file{
            margin: 0 4rem !important;
            input{
              font-size: 1.6rem;
  
            }
            label{
              font-size: 1.5rem;
              font-weight: 600;
              color: $text-color-2;
              border-color: $primary;
            }
            label:after{
              background-color: $primary;
              color: $white;
            }
          }
        
        }
      }
    }
  }
  .modal-footer {
    border-bottom: solid 0.4rem $primary !important;
    justify-content: right !important;
    .primary-btn {
      margin: 0 !important;
      margin-right: 0.5rem !important;
    }
    .close-btn {
      background-color: $text-color-3;
    }
    .close-btn:hover {
      background-color: $text-color;
    }
  }
}

///    give-review-modal end ///
